<section class="bg-light py-5">
    <div id="comentarios-section">
        <h1>Lista de Clientes</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre de Usuario</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Dirección</th>
                </tr>
            </thead>
            <tbody>

                {{#each clientes}}
                <tr class="comentario">

                    <td>{{this.user_id}}</td>
                    <td>{{this.username}}</td>
                    <td>{{this.email}}</td>
                    <td>{{this.telefono}}</td>
                    <td>{{this.direccion}}</td>
    </div>
    </tr>
    {{/each}}
    </tbody>
    </table>
</section>