<section class="bg-light py-5">
    <div class="container ">
        <div class="row">
            <div class="col-md-6 offset-md-3 mb-4">
                <div class="card mt-5">
                    <div class="card-body">
                        <h2 class="card-title">Perfil</h2>
                        <hr>

                        <!-- Formulario para actualizar datos -->
                        <form action="/profile/update" method="post">
                            <div class="mb-3">
                                <label for="username" class="form-label h3">Nombre de usuario</label>
                                <input type="text" id="username" name="username" class="form-control"
                                    value="{{username}}" required>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label h3">Email</label>
                                <input type="email" id="email" name="email" class="form-control" value="{{email}}"
                                    required>
                            </div>
                            <div class="mb-3">
                                <label for="address" class="form-label h3">Dirección</label>
                                <input type="text" id="direccion" name="direccion" class="form-control"
                                    value="{{direccion}}" required>
                            </div>
                            <div class="mb-3">
                                <label for="phone" class="form-label h3">Teléfono</label>
                                <input type="text" id="telefono" name="telefono" class="form-control"
                                    value="{{telefono}}" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Actualizar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container ">
        <div class="row">
            <div class="col-md-8 offset-md-3 mb-4">
                <div class="card mt-5">
                    <div class="card-body">
                        <h2 class="card-title">Turnos</h2>
                        {{#if turnos.length}}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Servicio</th>
                                    <th>Fecha</th>
                                    <th>Hora</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each turnos}}
                                <tr>
                                    <td>{{this.servicio}}</td>
                                    <td>{{this.fecha}}</td>
                                    <td>{{this.hora}}</td>
                                    <td>
                                        <a href="/cancelar-turno/{{this.turno_id}}" class="btn btn-danger">Cancelar</a>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        {{else}}
                        <p>No tienes turnos reservados actualmente.</p>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>