

<section class="fondo1 py-5">
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Ruta al CSS -->
</head>
<body>
     <div id="comentarios-section">
    <h1>Lista de Clientes</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre de Usuario</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Dirección</th>
            </tr>
        </thead>
        <tbody> 
             
            {{#each clientes}}
                <tr class="comentario">

                    <td>{{this.user_id}}</td>
                    <td>{{this.username}}</td>
                    <td>{{this.email}}</td>
                    <td>{{this.telefono}}</td>
                    <td>{{this.direccion}}</td>
               </div> </tr>
                
            {{/each}}
        </tbody>
    </table>
  
</body>
</html>
</section>
